body{
	color: white;
	background-image: url(../img/fifa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    font-family: verdana;
	background-color: rgb(34, 34, 34);
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;


}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: verdana;
}
    p{

           font-family: verdana;
    }
    p{
    line-height: 20px;
    max-width: 800px;
    font-family: verdana;
color: white;
}
h3{
color: white;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}
a:hover{
    color: rgb(0,0,0);
    transition: 0.4s all;
}

a{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}